{% extends "base.html.twig" %}


{% block body %}
	<div class="container">
		<div class="row">
			{% for offer in offer_list %}
				<div class="col-md-3 mt-2">
					<div class="card">
						<div class="card-body">
							<a href="{{ path("offers.show", {id: offer.id}) }}">
								<h2>{{ offer.title }}</h2>
							</a>
							<p>{{ offer.description }}</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
